.button-left-right {
    a {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      font-size: 3rem;
      color: rgb(184, 183, 183);
      transition: 0.25s;
      user-select: none;
      padding: 0 14px;
      z-index: 5;  

      &:hover {
        font-size: 4rem;
      }

      @media screen and (max-width: 650px){
        top: 60%;
      }

      @media screen and (max-width: 500px){
        top: 70%;
      }
    }

    .left {
      left: 30px;
    }
       
    .right {
      right: -5px;
    }
}